body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.card-title a {
    color: #333;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.card-text {
    color: #333;
    font-size: 1em;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.text-center {
    text-align: center !important;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
