{% extends 'base.html' %}
{% load static %}




{% block content %}
  <link rel="stylesheet" href="{% static 'css/futureprojects.css' %}">

<div class="content-section">
    <h2>New Addtion to The High Line</h2>
    <img src="{% static 'img/newhighline.jpg' %}" class="responsive-image">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, beatae. Ut hic nesciunt accusantium unde et molestias, omnis quo repudiandae, deleniti non earum nemo incidunt in? Similique fuga corrupti inventore.</p>
</div>

<div class="content-section">
    <h2>Micro Roof Gardens</h2>
    <img src="{% static 'img/roofgarden.jpg' %}"  class="responsive-image">
    <p>Empire Con. is proud to collaborate with the city and commercial property owners in developing micro roof gardens, transforming urban spaces into lush, green sanctuaries. These innovative projects aim to enhance the city's landscape, creating environmentally friendly and sustainable environments that benefit both the community and the ecosystem. By incorporating these green spaces into rooftops, we are not only improving air quality and reducing urban heat but also promoting biodiversity and providing residents with beautiful, natural areas to enjoy. Empire Con. is dedicated to leading the way in eco-friendly urban development, ensuring a greener future for our city.</p>
</div>

<div class="content-section">
    <h2>New Lower East Side Park</h2>
    <img src="{% static 'img/lowereastpark.jpeg' %}"  class="responsive-image">
    <p>The first phase of construction closures which included East River Park from Stanton Street south to Montgomery Street, began on December 6, 2021. On December 18, 2023, the transition into phase two began with the closure of three additional ballfields to East Houston Street. The team is maintaining the 42% open space and will begin to reopen phase one amenities later in 2024.</p>
</div>





{% endblock %}