{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/pastprojects.css' %}">


<div>
    <h2>The Waldorf Astoria</h2>
    <img src="{% static 'img/waldorf4.jpg' %}">
</div>





<div>
    <h2>1 Vanderbilt</h2>
    <img src="{% static 'img/1vanderbilt.jpg' %}">
    <p>vamderbilt-Rising to a height of 1,401 feet, the recently completed One Vanderbilt building has joined the distinguished silhouette of New York City’s skyline at 73 stories tall. Located on 42nd street in Midtown Manhattan, the structure features a stunning terra cotta façade manufactured by Boston Valley Terra Cotta.

        The highly anticipated 1.75 million square foot tower, now the tallest office building in Midtown, takes up an entire block occupied by Madison and Vanderbilt Avenues. The construction of this supertall skyscraper was achieved through the collaboration of many parties to bring the tower to completion in 2020</p>
</div>





<div>
    <h2>Hudson Yards</h2>
    <img src="{% static 'img/hudsonyards1.jpg' %}">
</div>






<div>
    <h2>The little Island</h2>
    <img src="{% static 'img/thelittleisland2.jpg' %}">
</div>



















{% endblock %}