{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/pastprojects.css' %}">

<div class="content-section">
    <h2>The Waldorf Astoria</h2>
    <img src="{% static 'img/waldorf4.jpg' %}" class="responsive-image">
    <p>The 47-story building is located at 301 Park Ave.The hotel closed in 2017 for renovations and is converting a large amount of the hotel's space into 375 luxury condos, which were reported to cost in the range of $18 million a piece for buyers. At the time of closure, the property had more than 1,400 guest rooms but is expected to reopen with just 375.</p>
</div>

<div class="content-section">
    <h2>1 Vanderbilt</h2>
    <img src="{% static 'img/1vanderbilt.jpeg' %}"  class="responsive-image">
    <p>Rising to a height of 1,401 feet, the recently completed One Vanderbilt building has joined the distinguished silhouette of New York City’s skyline at 73 stories tall. Located on 42nd street in Midtown Manhattan, the structure features a stunning terra cotta façade manufactured by Boston Valley Terra Cotta.

        The highly anticipated 1.75 million square foot tower, now the tallest office building in Midtown, takes up an entire block occupied by Madison and Vanderbilt Avenues. The construction of this supertall skyscraper was achieved through the collaboration of many parties to bring the tower to completion in 2020.</p>
</div>

<div class="content-section">
    <h2>Hudson Yards</h2>
    <img src="{% static 'img/hudsonyards1.jpg' %}"  class="responsive-image">
    <p>Hudson Yards is the largest private real estate development in the history of the United States. Today, tens of thousands of people work in, visit and call Hudson Yards their home. The neighborhood includes approximately 12 million square feet of commercial and residential space; dozens of shops; a collection of restaurants; thousands of residences; The Shed, a new center for artistic invention; 5 acres of public gardens and groves; and an Equinox® branded luxury hotel with more than 200 rooms—all offering unparalleled amenities for residents, employees and guests. The Eastern Rail Yards was completed in 2019 and contains soaring commercial towers 10 Hudson Yards, 30 Hudson Yards, 50 Hudson Yards and 55 Hudson Yards; The Shops at Hudson Yards, and a unique cultural monument featuring New York's Staircase by Thomas Heatherwick of Heatherwick Studio. The Eastern Rail Yards is located at W 30th Street to W 34th Street between 10th Avenue and 11th Avenue.</p>

</div>

<div class="content-section" >
    <h2>The Little Island</h2>
    <img src="{% static 'img/thelittleisland.jpg' %}" class="responsive-image">
    <p>Little Island adjoins Hudson River Park near the intersection of West Street and West 13th Street in Manhattan.The park is in the Meatpacking District and Chelsea neighborhoods of Manhattan. The park covers 2.4 acres (0.97 ha).It is accessible from two passageways extending across the water from Hudson River Park: a southern esplanade at Little West 12th Street and a northern esplanade at West 14th Street.The park can fit 1,000 people simultaneously.</p>
</div>

{% endblock %}
