{% extends 'base.html' %}
{% load static %}




{% block content %}

<link rel="stylesheet" href="{% static 'css/renovateform.css' %}">



<div class="container my-5 form-container">
  <h1 class="text-center mb-4">Renovation Project</h1>

  <form>
      <div class="mb-2">
          <label for="nameInput" class="form-label">Name</label>
          <input type="text" class="form-control" id="nameInput" placeholder="Your Name">
      </div>

      <div class="mb-2">
          <label for="emailInput" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
      </div>

      <div class="mb-2">
          <label for="companyInput" class="form-label">Company</label>
          <input type="text" class="form-control" id="companyInput" placeholder="Your Business">
      </div>

      <div class="mb-2">
          <label for="locationInput" class="form-label">Location of Project</label>
          <textarea class="form-control" id="locationInput" rows="2" placeholder="Street, City, State, Zip"></textarea>
      </div>

      <div class="mb-2">
          <label for="scopeInput" class="form-label">Scope of Work</label>
          <textarea class="form-control" id="scopeInput" rows="3" placeholder="What are you looking to get done?"></textarea>
      </div>

      <div class="mb-2">
          <label for="budgetInput" class="form-label">Desired Budget</label>
          <input type="text" class="form-control" id="budgetInput" placeholder="$">
      </div>

      <div class="text-center">
          <a href="{% url 'services' %}" class="btn btn-primary">Submit</a>
      </div>
  </form>
</div>






{% endblock %}